/* ----- 全局CSS ----- */
body {
    padding-top: 40px;
}

.text-center {
    text-align: center;
}

.main-color {
    color: aquamarine;
}

.main-color-aqua {
    color: cadetblue;
}

.avatar {
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 8px;
}

/* ----- header ----- */
.ui.floating.dropdown.icon.button{
    position: fixed;
    top: 25px;
    right: 38px;
    color: aqua;
    font-size: 22px;
    background: white;
    height: 13px;
}

/* ----- signup -----*/
.ui.form .field label {
    color: #2c9973;
}

/* ----- signup ----- */
.ui.form .field.file .prompt.label{
    position: relative;
    top: 34px;
    right: 165px;
}

.ui.message p {
    margin: 0;
}

/* ----- articleSpecial -----*/
span.time {
    font-size: 10px;
}

span.browse {
    font-size: 10px;
    position: absolute;
    right: 5em;
}

span.ui.dropdown {
    font-size: 15px;
    position: absolute;
    right: 1.5em;
}

/* ----- comment -----*/
.right_float {
    float: right;
}

.bottom_relative {
    position: absolute;
    width: 100%;
    bottom: 0;
}