/* ----- 全局CSS ----- */
body {
    padding-top: 40px;
}

.text-center {
    text-align: center;
}

.main-color {
    color: aquamarine;
}

.main-color-aqua {
    color: cadetblue;
}

/* ----- header ----- */
.ui.floating.dropdown.icon.button{
    position: fixed;
    top: 25px;
    right: 20px;
    color: aqua;
    font-size: 22px;
    background: white;
    height: 13px;
}

/* ----- signup -----*/
.ui.form .field label {
    color: #2c9973;
}

/* ----- signup ----- */
.ui.form .field.file .prompt.label{
    position: relative;
    top: 34px;
    right: 165px;
}