include ./component/header
for article in articles
  .ui.grid
    .four.wide.column
      - const usera = article.author
        include ./component/avatar
    .eight.wide.column
      .ui.segment
        include ./component/articleItem
