include ../../head
.ui.grid
  .four.wide.column
  .eight.wide.column.text-center
    h1.main-color 我的博客
    h3.main-color-aqua 我的第一个博客
.ui.floating.dropdown.icon.button
  i.sidebar.icon
  .menu
    .item 登入
    .item
      a(href='/signup') 注册
include ../script/dropdown
