include ../../head
//标题
.ui.grid
  .four.wide.column
  .eight.wide.column.text-center
    h1.main-color
      a(href='/article/') 博客
    h3.main-color-aqua 我的第一个博客
    if success
      .ui.positive.message
        i.close.icon
        p= success
    if error
      .ui.negative.message
        i.close.icon
        p= error
//设置按钮
.ui.floating.dropdown.icon.button
  i.sidebar.icon
  if user
    .menu
      .item
        a(href=`/article?author=${user._id}`) 个人主页
      .divider
      .item
        a(href='/article/create') 发表文章
      .item
        a(href='/signout') 登出
  else
    .menu
      .item
        a(href='/signin') 登入
      .item
        a(href='/signup') 注册
script.
  $('.message .close')
    .on('click', function () {
      $(this)
        .closest('.message')
        .transition('fade')
    })
include ../script/dropdown
