script.
  $('form')
    .form({
      on: 'blur',  //实时监听
      fields: {
        name: {
          identifier: 'name',
          rules: [
            {
              type: 'minLength[1]',
              prompt: '姓名不能为空'
            },
            {
              type: 'minLength[2]',
              prompt: '请输入1个字以上姓名'
            },
            {
              type: 'maxLength[9]',
              prompt: '请输入10个字以下姓名'
            }
          ]
        },
        password: {
          identifier: 'password',
          rules: [
            {
              type: 'minLength[6]',
              prompt: '密码最短为6位'
            },
            {
              type: 'maxLength[12]',
              prompt: '密码最长为12位'
            }
          ]
        },
        repassword: {
          identifier: 'repassword',
          rules: [
            {
              type: 'minLength[1]',
              prompt: '密码未填写'
            },
            {
              type: 'match[password]',
              prompt: '两次密码不一致'
            }
          ]
        },
        gender: {
          identifier: 'gender',
          rules: [
            {
              type: 'empty',
              prompt: '请选择性别'
            }
          ]
        },
        avatar: {
          identifier: 'avatar',
          rules: [
            {
              type: 'empty',
              prompt: '请选择头像'
            }
          ]
        },
        sign: {
          identifier: 'sign',
          rules: [
            {
              type: 'empty',
              prompt: '个人签名不能为空'
            },
            {
              type: 'maxLength[300]',
              prompt: '个人签名最多300字'
            }
          ]
        }
      },
      inline: true  //内联，在下面一行
    });